name: Test Mappings
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    name: ATT&CK To VERIS Tests
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: '3.8'
      - name: Run tests
        run: poetry run make test-ci
      - name: Upload Coverage to Codecov
        uses: codecov/codecov-action@v1
        with:
          token: ${{ secrets.CODECOV_SECRET }}
          files: coverage.xml
          verbose: true
